
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
    var Reviews = (List<WebsiteLinhKienLocNuoc.Models.Review>)ViewBag.Reviews;
    var orderStatusHistory = (List<WebsiteLinhKienLocNuoc.Models.OrderStatusHistory>)ViewBag.orderStatusHistory;
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title mb-0">Phần Mềm Quản Lý Website LinhKienMTA</h4>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-danger my-2" style="margin-left: 50px"> - 11% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-pie" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"]}' data-width="54" data-height="54">5/8</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Order</h5>
                                <h6 class="mt-0 mb-3">Chưa Xử Lý</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 27% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">2/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Order2</h5>
                                <h6 class="mt-0 mb-3">Trong Ngày</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-primary my-2" style="margin-left: 50px"> 0% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Categories</h5>
                                <h6 class="mt-0 mb-3">Số danh mục</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-primary my-2" style="margin-left: 50px"> 0% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.SubCategories</h5>
                                <h6 class="mt-0 mb-3">Số danh mục con</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-primary my-2" style="margin-left: 50px">  0% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">

                                <h5 class="float-right mt-0">@ViewBag.Products</h5>
                                <h6 class="mt-0 mb-3">Sản Phẩm</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 15% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h7 class="float-right mt-0">@Html.Raw(ViewBag.RevenueDay)</h7>
                                <h6 class="mt-0 mb-3">Doanh Thu Ngày</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 27% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h7 class="float-right mt-0">@Html.Raw(@ViewBag.RevenueMonth)</h7>
                                <h6 class="mt-0 mb-3">Doanh Thu Tháng</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-danger my-2" style="margin-left: 50px"> - 15% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">3/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h7 class="float-right mt-0">@Html.Raw(ViewBag.RevenueYear)</h7>
                                <h6 class="mt-0 mb-3">Doanh Thu Năm</h6>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 100% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">2/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Admin</h5>
                                <h6 class="mt-0 mb-3">Người Quản Lý</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 33% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-donut" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"], "innerRadius": 18, "radius": 32 }' data-width="54" data-height="54">2/5</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Staff</h5>
                                <h6 class="mt-0 mb-3">Nhân Viên</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-info my-2" style="margin-left: 50px"> + 40% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-pie" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"]}' data-width="54" data-height="54">3/8</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.Customers</h5>
                                <h6 class="mt-0 mb-3">Khách Hàng</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card mini-stats">
                        <div class="p-3 mini-stats-content">
                            <div class="mb-4">
                                <div class="float-end text-end" style="float: right">
                                    <span class="badge bg-light text-primary my-2" style="margin-left: 50px"> 0% </span>
                                    <p class="text-white-50">So với kỳ trước</p>
                                </div>
                                <span class="peity-pie" data-peity='{ "fill": ["rgba(255, 255, 255, 0.8)", "rgba(255, 255, 255, 0.2)"]}' data-width="54" data-height="54">3/8</span>
                            </div>
                        </div>
                        <div class="ml-3 mr-3">
                            <div class="bg-white p-3 mini-stats-desc rounded">
                                <h5 class="float-right mt-0">@ViewBag.ReviewMonth</h5>
                                <h6 class="mt-0 mb-3">Đánh giá trong tháng</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
        <!-- end row -->
        <div class="row">
            <div class="col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <h1 class="mt-0 header-title mb-5">Doanh thu định kì</h1>
                        <div id="morris-bar-stacked" class="morris-chart-height morris-charts" data-colors='["#1699dd", "--bs-primary", "#ebeff2"]'></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Phân tích bán hàng</h4>

                        <div class="row text-center mt-5">
                            <div class="col-6">
                                <h5 class="">10</h5>
                                <p class="text-muted font-size-14">Danh Mục</p>
                            </div>
                            <div class="col-6">
                                <h5 class="">39</h5>
                                <p class="text-muted font-size-14">Sản phẩm</p>
                            </div>
                        </div>

                        <div id="morris-donut-example" class="dash-chart morris-charts text-center" data-colors='["#ebeff2", "--bs-primary", "#1699dd"]'></div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Đơn hàng</h4>
                        <div class="py-4">
                            <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(22, 153, 221, 0.3)"],"stroke": ["rgba(22, 153, 221, 0.9)"]}' data-height="60">4,6,8,7,6,7,9,8,6,5,7,5,8,6,4,8,9,8,5,4</span>
                        </div>


                        <div class="row">
                            <div class="col-6">
                                <div class="weekly-sale-list text-center">
                                    <h5>@ViewBag.CountOderInWeek</h5>
                                    <p class="text-muted mb-0">Tuần này</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="weekly-sale-list text-center">
                                    <h5>@ViewBag.CountOderInLastWeek</h5>
                                    <p class="text-muted mb-0">Tuần trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card product-sales">
                    <div class="card-body" style="margin-bottom: 9px">
                        <h5 class="mt-0 mb-4"><i class="ion-waterdrop h4 me-2 text-primary"></i> Máy lọc nước</h5>
                        <div class="row align-items-center mb-4">
                            <div class="col-6">
                                <p class="text-muted">Bán Trong Tháng</p>
                                <h4><sup class="me-1"><small></small></sup>@ViewBag.TotalMoneyOfMachineInMonth đ</h4>
                            </div>
                            <div class="col-6">
                                <div class="text-center">
                                    <span class="peity-pie" data-peity='{ "fill": ["rgba(22, 153, 221, 1)", "#f2f2f2"]}' data-width="65" data-height="65" style="display: none;">70/100</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="text-muted mb-3">Top Mua Hàng</p>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-muted mb-2">@ViewBag.Customer1: <b class="text-dark">@ViewBag.TotalCustomer1 đ</b></p>
                                </div>
                                <div class="col-6">
                                    <p class="text-muted mb-2">@ViewBag.Customer2: <b class="text-dark">@ViewBag.TotalCustomer2 đ</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-md-6">
                <div class="card messages">
                    <div class="card-body" style="margin-bottom: 13px">
                        <h4 class="mt-0 header-title">Đánh giá trong tháng</h4>

                        <nav class="mt-4">
                            <div class="nav nav-tabs latest-messages-tabs nav-justified" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-first-tab" data-bs-toggle="tab" href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="true">
                                    <h4 class="mt-0">@ViewBag.Month</h4>
                                    <p class="text-muted mb-0">Tháng</p>
                                </a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane show active" id="nav-first" role="tabpanel" aria-labelledby="nav-first-tab">
                                <div class="p-2 mt-2">
                                    <ul class="list-unstyled latest-message-list mb-0">
                                        @for(int i = 0; i < Reviews.Count; i++){
                                            <li class="message-list-item">
                                                <a class="text-dark">
                                                    <div class="d-flex">
                                                        <img class="me-3 avatar-sm rounded-circle" src="assets/images/users/avatar-2.jpg" alt="">
                                                        <div class="">
                                                            @if(i == 0) {<h6 class="mt-0">@ViewBag.CustomerReviews0.FirstName @ViewBag.CustomerReviews0.LastName</h6> }
                                                            else if(i == 1) {<h6 class="mt-0">@ViewBag.CustomerReviews1.FirstName @ViewBag.CustomerReviews1.LastName</h6> }
                                                            else if(i == 2) {<h6 class="mt-0">@ViewBag.CustomerReviews2.FirstName @ViewBag.CustomerReviews2.LastName</h6> }
                                                            else if(i == 3) {<h6 class="mt-0">@ViewBag.CustomerReviews3.FirstName @ViewBag.CustomerReviews3.LastName</h6> }
                                                            <p class="text-muted mb-0">@Reviews[i].Comment</p>
                                                            <p class="time text-muted">@Reviews[i].DateAdded</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body" style="margin-bottom: -25px">
                        <h4 class="mt-0 header-title">Thông Báo</h4>

                        <div class="p-2">
                            <ul class="list-unstyled rec-acti-list">
                                @for (int i = 0; i < orderStatusHistory.Count; i++)
                                {
                                <li class="rec-acti-list-item">
                                    <div>
                                        <p class="text-muted mb-1">@orderStatusHistory[i].DateAdd</p>
                                        <h7 class="mb-0"><a class="text-dark">Đơn hàng #@orderStatusHistory[i].OrderID <a style="margin-left: 20px"></a> @orderStatusHistory[i].OrderStatusName</a></h7>
                                        <div class="delete-icon">
                                            <a class="text-primary"><i class="mdi mdi-delete-forever h5" ></i></a>
                                        </div>
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- content -->